/**
 * Accessibility
 */
 .visually-hidden {
  overflow: hidden;

  position: absolute;

  margin: -1px;
  padding: 0;

  width: 1px;
  height: 1px;

  border: 0;
  clip: rect(0 0 0 0);
}

.skip-link {
  position: absolute;
  transform: translateY(-100%);

  padding: 20px;

  color: var(--black);
  text-decoration: none;

  background-color: var(--focus);
  outline: 0;

  &:focus {
    transform: translateY(0);
  }
}

body.tabbing a:focus,
body.tabbing button:focus {
  outline: 3px solid var(--focus);
}
