/**
 * Generic
 */
html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  background-color: var(--black);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;

  width: 100%;
  max-width: 1460px;
}
