/**
 * Typography
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  font-weight: 500;
}

p {
  margin: 0 0 1em;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
