/**
 * Media Query Mixins
 */
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: 1825px) {
    @content;
  }
}

/**
 * Underline mixin
 */
@mixin underline-on-hover {
  &:after {
    content: '';

    opacity: 0;

    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;

    height: 2px;

    background-color: var(--white);

    transition: opacity 0.3s;
  }

  &:hover:after {
    opacity: 1;
  }
}

@mixin states($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}
