/**
 * Button
 */
.c-btn {
  display: inline-block;
  vertical-align: middle;

  margin: 0;
  padding: 0;

  font: inherit;
  text-align: left;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;

  border: 0;

  transition-duration: 0.3s;
  transition-property: background-color, color;

  outline: 0;
}

.c-btn--default {
  padding: 16px 20px;

  color: var(--white);
  font-size: 18px;
  font-weight: 400;

  background-color: var(--black);

  @include states {
    background-color: var(--white);
    color: var(--black);
  }
}

.c-btn--chevron {
  background-image: url(../img/icon-chevron-white.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  padding-right: 60px;

  @include states {
    background-image: url(../img/icon-chevron-black.svg);
  }
}
