/**
 * Hero
 */
.c-hero {
  $this: &;

  display: flex;
  flex-direction: column-reverse;

  @include desktop {
    position: relative;
    overflow: hidden;
  }

  &__inner {
    width: 100%;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: flex-end;

      padding: 2.2rem 0;

      min-height: 640px;
    }
  }

  &__content {
    position: relative;

    margin: 0 -20px;
    padding: 20px;

    background-color: var(--white);

    transition: background-color 0.3s;

    &:hover {
      background-color: var(--black);
    }

    @include desktop {
      margin: 0;
      padding: 30px;
      width: 320px;
    }
  }

  &__background {
    @include desktop {
      position: absolute;
      transform: none;
      z-index: -1;

      img {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        max-width: 100%;
        height: calc(100vh - 1px);

        object-fit: cover;
        object-position: top center;
      }
    }
  }

  &__category {
    font-size: 1.3rem;
    font-weight: 400;
    transition: 0.3s color;

    #{$this}__content:hover & {
      color: var(--white);
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    transition: 0.3s color;

    #{$this}__content:hover & {
      &,
      strong {
        color: var(--white);
      }
    }

    strong {
      font-weight: inherit;

      color: var(--yellow);

      transition: color 0.3s;
    }
  }

  &__description {
    font-weight: 400;
    transition: 0.3s color;

    #{$this}__content:hover & {
      color: var(--white);
    }
  }

  &__button {
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
