/**
 * Intro
 */
.c-intro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), var(--black) 40%);

  &__inner {
    border-bottom: 1px solid var(--mid-grey);

    @include desktop {
      display: grid;
      grid-column-gap: 10rem;
      grid-template-columns: 1.5fr 1fr;
      align-items: center;
    }
  }

  &__title {
    color: var(--white);

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__meta-detail {
    font-size: 1.4rem;
    line-height: 1.4;
    color: var(--white);

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
