/**
 * Menus
 */
.c-menu {
  $this: &;

  @include tablet {
    display: grid;
    grid-column-gap: 1.6rem;
    grid-template-columns: 1fr 1fr;

    &--primary,
    &--secondary {
      margin-bottom: 30px;
    }
  }

  &--primary {
    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: inline-block;

    font-size: 18px;
    font-weight: 400;

    #{$this}--footer & {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    &--has-icon {
      a {
        display: flex;
        align-items: center;
      }

      svg {
        margin-right: 10px;

        width: 17px;
        height: 17px;

        fill: var(--light-grey);
      }
    }

    a {
      display: block;
      position: relative;

      padding: 1.3rem 0;

      color: var(--white);
      text-decoration: none;

      border-bottom: 1px solid var(--mid-grey);

      #{$this}--primary & {
        background-image: url(../img/icon-chevron-white.svg);
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 60px;
      }

      #{$this}--footer & {
        padding: 0;
        color: var(--light-grey);
        border-bottom: 0;
      }

      @include desktop {
        display: inline;
        padding: 0 1rem;

        border-bottom: 0;

        #{$this}--primary & {
          padding: 0 1rem 2.8rem 1rem;
          background: none;

          @include underline-on-hover;
        }

        #{$this}__item:last-child & {
          padding-right: 0;
        }
      }

      #{$this}--secondary & {
        color: var(--light-grey);

        @include tablet {
          padding: 1.3rem;

          color: var(--white);
          text-align: center;

          background-color: var(--dark-grey);
          border: 0;

          svg {
            fill: var(--white);
          }
        }
      }
    }

    &:last-child a {
      padding-right: 0;

      &:after {
        right: 0;
      }
    }
  }
}
