/**
 * Site header
 */
.c-site-header {
  padding: 2.8rem 0;

  background-color: var(--black);
  border-bottom: 1px solid var(--mid-grey);

  @include tablet {
    position: relative;
  }

  &__inner {
    display: flex;
  }

  &__logo {
    align-self: flex-end;
    width: 195px;
  }

  &__navigation {
    display: none;

    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    left: 0;
    z-index: 1;

    padding: 0 25px;

    background-color: var(--black);

    &.is-active {
      display: grid;
    }

    @include desktop {
      position: static;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 0 auto;

      margin-left: auto;
      padding: 0;

      background-color: transparent;

      nav {
        text-align: right;

        &:first-of-type {
          order: 1;
        }

        &:last-of-type {
          order: 0;
        }
      }
    }
  }

  &__menu-toggle {
    position: relative;
    bottom: -2.8rem;

    margin-left: auto;
    padding: 0 1rem 2.8rem 1rem;

    font-size: 18px;
    font-weight: bold;

    color: var(--white);

    @include desktop {
      display: none;
    }

    @include underline-on-hover;
  }
}
