/**
 * Site footer
 */
.c-site-footer {
  background-color: var(--dark-grey);

  a {
    color: var(--light-grey);
  }

  &__inner {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;

    position: relative;

    padding: 50px 0;

    @include desktop {
      grid-template-columns: 25% auto;
    }
  }

  &__info {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 40px;

    border-bottom: 1px solid var(--mid-grey);

    @include desktop {
      display: block;
      margin: 0;
      border: 0;
    }
  }

  &__menu {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 40px;

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;

      margin-bottom: 0;
    }
  }

  &__block {
    margin-bottom: 50px;
    color: var(--light-grey);
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--white);
  }

  &__turtle {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
