/**
 * Section
 */
.o-section {
  &--black {
    color: var(--white);
    background-color: var(--black);
  }

  &__inner {
    padding: 30px 0;

    @include desktop {
      padding: 70px 0;
    }
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 400;
  }
}
